TinyApp


<% if (!email) { %>
<a href ="/login">Click Here to Login</a>
<a href="/register">Click Here to Register</a>
<%} else { %>
<%email%>
<form action="/urls" method="GET" name="email"></form>
<form action="/urls/:id" method="GET" name="email"></form>
<form action="/urls/new" method="GET" name="email"></form>
<form action="/logout" method="POST">
  <input type = "submit" value="Logout">
</form>

<% } %>
